body {
  background-color: #9d949e;
  background-image: url("/imgs/sunset.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.list {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 25vh;
}

.me {
  object-fit: cover;
}
