body {
  background-color: #abdff1;
  background-image: url("/imgs/carroad.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.list {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
}
