@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: rgb(201, 216, 245);
  background-image: url("/imgs/cat.gif");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the start of the container */
  height: 100vh;
  padding-top: 50px; /* Add padding to push the content down a bit */
}

.container {
  width: 50%;
  margin: 20px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 30px rgba(67, 79, 250, 0.3);
  border-radius: 8px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

header p {
  font-size: 14px;
  color: #666;
}

.todo-input {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.todo-item {
  background-color: #f4f4f4;
  padding: 10px;
  font-size: 16px;
  width: calc(33.33% - 10px);
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.todo-item:hover {
  background-color: #e0e0e0;
}

.delete-btn {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;
}

.todo-item:hover .delete-btn {
  display: block;
}
